{
  "presets": [
    ["es2015", { "modules": false, "loose": true }],
    "stage-2",
    ["env", {
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
